#map {
    height: 100%;
}

html, body {
    height: 97%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #map {
        height: 100%;
    }
    
    html, body {
        height: 100%;
    }    
}