button {
    margin: 15px;
    padding: 15px;
    margin-bottom: 5%;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

#tripsList {
    width: 400px;
    float: left;
    text-decoration: none;
    padding: 5%;
    text-align: center;
}

li {
    list-style-type: none;
    text-align: center;
}

#bicycleLetGo {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#map {
    float: right;
    width: 1400px;
    height: 890px;
}

body {
    overflow: hidden;
}